h1 {
	color: #37B1CB;
	text-align: center;
	font-size: 48px;
	background-color: #5A5A5E;
	padding-top: 40px;
	padding-right: 40px;
}
#header {
	background-color: #5A5A5E;
	padding-left: 10px;
	padding-right: 10px;
	height: 230px;
}

#profile {
	width: 150px;
	float: left;
	padding: 20px;

}
#bio {
	padding-bottom: 50px;
}

h2 {
	text-align: center;
	color: #37B1CB;
}
.blog {
	background-color: #5A5A5E;
	padding: 15px;
}

.indent {
	text-indent: 10px;
}