header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 20px;
    background: #85A1B2;
    height: 11em;
}

.container {
    position: relative;
    margin: 1.5rem auto;
    padding: 5px;
    height: 2.5rem;
    max-width: 700px;
    line-height: 1em;
    
}
header .container h1 {
    color: #37B1CB;
    font-size: 34px;
    font-family: 'Kaushan Script', cursive;
    padding-bottom: 3px;
}

#profile {
    width: 100px;
    float: left;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 20px;

}

h1 {
    margin-top: 4px;
   // text-decoration: none;
}

h2 {
    margin-top: 10px;
    font-size: 20px;
    font-family: Kaushan Script, cursive;
}

header nav {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0.8rem;
}

nav {
    position: static;
    z-index: 1001;
}

.navlink {
    color: #23527c;
    background: #85A1B2;
}



h3 {
    text-align: center;
    color: #37B1CB;
    font-family: 'Kaushan Script', cursive;
    font-size: 28px;
}

body {
    color: black;
    background: #FEF5E7;
    font-family: Raleway, sans-serif;
    font-size: 17px;
    display: block;
    margin: 11rem auto 0 auto;
    max-width: 700px;
    line-height: 1.3em;
    padding: 1em;
}
time {
    padding-left: 16em;
}

#allBlogs {
    margin-top: 5em;
}

article {
    margin-bottom: 2em;
}

article:after {
    display: block;
    content: '';
    border-bottom: 2px dotted #337481;
    width: 75%;
    margin: auto;
    margin-top: 1em;
}

.main {
    text-align: justify;
}

.indent {
    text-indent: 2em;
    margin-top: -.5em;
}

#about {
    margin-top: 5em;
}


/* Portfolio Styling */

#port {
    margin-top: 1em;
    display: block;
    text-align: center;
    //color: #37B1CB;
    font-size: 36px;
    font-family: 'Kaushan Script', cursive;
}

#portfolio {
    margin-top: 6em;
}
